.logoImg{
    margin-left: -30px;
    
}

@media screen and (max-width:480px){
    .logoImg{
        margin-left: -30px;
        margin-top: -10px;
        height: 80px;
    }
}
@media screen and (max-height:400px){
    .logoImg{
        margin-left: -30px;
        margin-top: -10px;
        height: 60px;
    }
}
@media screen and (min-height: 500px) and (max-height:700px){
    .logoImg{
        margin-left: -30px;
        margin-top: -10px;
        height: 80px;
    }
}
@media screen and (min-height: 450px) and (max-height:500px){
    .logoImg{
        margin-left: -30px;
        margin-top: -10px;
        height: 70px;
    }
}
@media screen and (min-height: 400px) and (max-height:450px){
    .logoImg{
        margin-left: -30px;
        margin-top: -10px;
        height: 65px;
    }
}


    
