.social-container {
    background: rgb(0, 0, 0);
    padding-top: 1rem;
  }
  @media screen and (max-width: 720px) {
    .social-container{
    padding-right: 20px;
    margin-left: 30px;
  }
  }
  a.twitter-social {
    
    transition: transform 250ms;
    display: inline-block;
    color: #fabd2a;
    padding-top: 0.8rem;
  }

  a.twitter-social:hover {
    transform: translateY(-4px);
    color: #9c7a22;
  }
